// Home pag
$primary: #6c757d;
$secondary: rgb(19, 158, 189);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$font-family-sans-serif: Cabin, sans-serif;
$background-light: rgb(217, 217, 217);
$hover: #c1b5b5 !important;
$h1font-weight: 700;
$h1font-size: 4rem;
$titlefont-weight: 700;
$font-size: 2rem;
$sub-titlefont-weight: 700;
$font-size: 1.5rem;
