//   Galeria
.galeria img {
  width: 275px;
  height: 200px;
}

.galeria {
  padding: 10px;
}

//   End galeria

div.gallery {
  margin-top: 30px;
}

div.gallery ul {
  list-style-type: none;
  margin-left: 35px;
}
div.gallery ul li,
div.gallery li img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
div.gallery ul li {
  position: relative;
  float: left;
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  z-index: 0;
}
div.gallery ul li:hover {
  z-index: 5;
}
div.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 200px;
  height: 150px;
  background: #f0f0f0;
}
div.gallery ul li img:hover {
  width: 400px;
  height: 300px;
  margin-top: -150px;
  margin-left: -200px;
  top: 65%;
  left: 65%;
}

.header-galeria {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 2%,
      rgb(189, 189, 189)
    ),
    url('../imagenes/img-0011.jpg');
  background-position: bottom;
  background-color: #b1b8bd;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  &-h2 {
    margin-top: 30px;
  }
}

.content-galeria .header-text {
  text-align: center;
  margin: 40px;
  font-size: 1.2rem;
}

.header-galeria .page-title {
  top: 250px;
  left: 50px;
  position: absolute;
  font-weight: 700;
  font-size: 4rem;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  .header-galeria {
    height: 250px;
  }
  .header-galeria .page-title {
    top: 150px;
    left: 20px;
    position: absolute;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }
}
