$carousel-control-color: $white;
$carousel-control-width: 15%;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 0.9;
$carousel-control-transition: opacity 0.15s ease;

$carousel-indicator-width: 30px;
$carousel-indicator-height: 3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-active-bg: $white;
$carousel-indicator-active-opacity: 1;
$carousel-indicator-transition: opacity 0.6s ease;

$carousel-caption-width: 100%;
$carousel-caption-color: $white;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration: 0.6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg: $black;
$carousel-dark-caption-color: $black;
$carousel-dark-control-icon-filter: invert(1) grayscale(100);

.section1 {
  background-image: url('../imagenes/bentley.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  &_home_text {
    text-align: center;
    color: white;
    mix-blend-mode: screen;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 80vh;
    font-size: 4rem;
    font-weight: 700;
  }
}
// seccion de servicios
.sub-title {
  margin: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1;
}

.text-center .card {
  height: 98%;
}

.image-diseno {
  box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 17px -3px rgba(0, 0, 0, 0.75);
}

.diseno-a-medida-img {
  background-image: url('../imagenes/diseno-harley.jpg');
  height: 700px;
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .diseno-a-medida-img {
    height: 100%;
  }
}

.section1_home_text {
  font-size: 2rem;
}

.seccion-carousel {
  &-image-1 {
    height: 80vh;
    background-image: url('../imagenes/peugeot-bronco.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  &-image-2 {
    height: 80vh;
    background-image: url('../imagenes/interior-yate.jpg');
    background-size: cover;
    z-index: 0;
  }
  &-image-3 {
    height: 80vh;
    background-image: url('../imagenes/moto-harley-davinson.jpg');
    background-size: cover;
    background-position: 88%;
    z-index: 0;
  }
}
