.contenedor_principa .contenedor_principa_wrapper {
  margin: 10px;
  padding: 15px;
}
.segundo_titulo-simulador-textura {
  padding-bottom: 10px;
}
.cotizador_button {
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}
