  /* Footer */
  .icon {
    width: 20px;
    height: 20px;
  }
  
footer {
  display: flex;
  position: static;
  bottom: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:  rgb(53, 53, 53);;
  color: white;
  padding: 30px;
  a {
    color: white;
  }
  div {
    margin: 15px;
  }
  img {
    border-radius: 15px;
  }
  icon {
    width: 20px;
    height: 20px;
  }
  .footer-logo {
    width: 100vw;
    text-align: center;
  }
  a:hover {
    color: rgb(213, 220, 250) !important;
    outline-style: hidden !important;
    outline: none !important;
  }
  .mapa {
    border-radius: 15px;
    overflow: hidden;
    background-image: url('../imagenes/company-location.jpg');
    height: 300px;
    width: 90vw;
    background-position: center;
    background-size: cover;
  }
}

.footer-map-section h2{
  padding-left: 25px; 
}
.footer-map-section p{
    padding-left: 25px; 
  }
/* End footer */
